.button {
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: rgb(45, 82, 153);
  color: #ffffff;
  min-width: 8rem;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
  margin-top: 2rem;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(45, 82, 153);
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}
